h1 {
    color: #deb922 ;
  }

  h3 {
    color:#fefefe;
  }
  body {

    background-color: #000000;
    color: #1ba098;
  }

  nav {

    background-color: white;
    color :#1ba0980;
  padding: 1rem;

  }



    /* }ul {

    list-style-type: none;

    padding: 0;

      margin: 0;

        display: flex;

    justify-content: space-around;

    color:#1ba098; */


    nav ul {
      list-style-type: none;

      padding: 0;

        margin: 0;

          display: flex;

      justify-content: space-around;

      color:#1ba098;

    }

    na li {
      color :#fefefe;
      font-size: 16px;
      cursor: finger;
      transition: background-color 0.3s;
    }

    nav li:hover {
      background-color: #red;
    }

nav i {
  margin-right: 8px;
}


    footer {
      list-style-type: none;

      padding: 0;



      margin: 0;

        display: flex;

    justify-content: space-around;

    }

  h2, .container  {
    color :#1ba098

    }

    p {
      color:#1ba098;
    }

    /* .container > .inner > p { */
      /* font-weight: bold; */
      /* color: black; */
  /*  */
    /* } */

@media (max-width : 768px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    padding: 10px;
    text-align: center;
  }
}

